- 
	var sectionFullWidthData = [
				{
					"title": "Person1",
					"text": "Software Eng",
					"img": "//placehold.it/805x330"
				},
				{
					"title": "Person1",
					"text": "Software Eng",
					"img": "//placehold.it/805x330"
				},				
			];

-
	var heroData = { 
			linear: "linear-gradient(to bottom, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0.7) 75%, #000410 100%)",
			img : "img/s1.png",
			preWelcomeText: "Welcome to my portfolio",
			mainTitleText: "MAIN TITLE HERE"};