- 
	var sectionFullWidthData =
			[
				{
					"title": "Person1",
					"text": "Software Eng",
					"img": "//placehold.it/805x330"
				},
				{
					"title": "Person1",
					"text": "Software Eng",
					"img": "//placehold.it/805x330"
				},				
			];