extends ../layouts/layout-portfolio.pug

include ../mixins/mixin.pug



block body

	//- Including data! (see data.pug file)
	include data.pug

	//- +showResponsiveHelp()
	//- +insertSpace(60)

	//- Navigation
	nav#mainNav.navbar.navbar-expand-lg.fixed-top
		.container
			a.navbar-brand.js-scroll-trigger(href='#page-top') Your Website
			.navbar-toggler.navbar-toggler-right.font-weight-bold.hamburger-icon-color.rounded(type='button', data-bs-toggle='collapse' data-bs-target='#navbarSupportedContent' aria-controls='navbarSupportedContent' aria-expanded='false' aria-label='Toggle navigation')
				i.fas.fa-bars
			#navbarSupportedContent.collapse.navbar-collapse.justify-content-end
				ul.navbar-nav.nav.top-nav-links
					+insertLinkMenuItem("ARTS","#arts")
					+insertLinkMenuItem("NEWS","#news")
					+insertLinkMenuItem("PROJECTS","#projects")
					+insertLinkMenuItem("WORKS","#works")
					+insertLinkMenuItem("ABOUT","#about")
					+insertLinkMenuItem("RESUME","#resume")
					+insertLinkMenuItem("CONTACT","#contact")

	.content-wrap
		header.master-head.text-center
			.header-content.container.d-flex.align-items-center.flex-column
				h4.sub-title Welcome to my portfolio!
				h1.main-title Main title here
				a.btn.btn-primary.btn-x1.text-uppercase.js-scroll-trigger(href="#projects") Explore!
		section#arts
		
		+insertSectionFullWidth(sectionFullWidthData)

		section.three-column
			.container
				.row
					.col-lg-12
						h2 Three Column
				.row.mb-4
					.col-lg-4.col-md-6.col-sm-12
						.card.mb-4
							img.card-img-top(src='//placehold.it/330x330' alt='...')
							.card-body
								h4.card-title Card title
								h6.card-category Solo Project
								p.card-text
									| Some quick example text to build on the card title and make up the bulk of the card's content.
								a.btn.btn-primary(href='#') Go somewhere
					.col-lg-4.col-md-6.col-sm-12
						.card.mb-4
							img.card-img-top(src='//placehold.it/330x330' alt='...')
							.card-body
								h4.card-title Card title
								h6.card-category Solo Project
								p.card-text
									| Some quick example text to build on the card title and make up the bulk of the card's content.
								a.btn.btn-primary(href='#') Go somewhere
					.col-lg-4.col-md-6.col-sm-12
						.card.mb-4
							img.card-img-top(src='//placehold.it/330x330' alt='...')
							.card-body
								h4.card-title Card title
								h6.card-category Solo Project
								p.card-text
									| Some quick example text to build on the card title and make up the bulk of the card's content.
								a.btn.btn-primary(href='#') Go somewhere

		section.four-column-with-equal-height
			.container
				.row
					.col-lg-12
						h2 Four Column with equal height		
				.row.mb-4
					.col-xl-3.col-lg-6.col-md-6.col-sm-12.d-flex
						.card.mb-4
							img.card-img-top(src='//placehold.it/330x330' alt='...')
							.card-body
								h4.card-title Card title
								h6.card-category Solo Project
								p.card-text
									| Some quick example text to build on the card title and make up the bulk of the card's content. <br /> here we type some more text
							.card-footer
								a.btn.btn-primary(href='#') Go somewhere
					.col-xl-3.col-lg-6.col-md-6.col-sm-12.d-flex
						.card.mb-4
							img.card-img-top(src='//placehold.it/330x330' alt='...')
							.card-body
								h4.card-title Card title
								h6.card-category Solo Project
								p.card-text
									| Some quick example text to build on the card title and make up the bulk of the card's content.
							.card-footer
								a.btn.btn-primary(href='#') Go somewhere
					.col-xl-3.col-lg-6.col-md-6.col-sm-12.d-flex
						.card.mb-4
							img.card-img-top(src='//placehold.it/330x330' alt='...')
							.card-body
								h4.card-title Card title
								h6.card-category Solo Project
								p.card-text
									| Some quick example text to build on the card title and make up the bulk of the card's content.
							.card-footer
								a.btn.btn-primary(href='#') Go somewhere
					.col-xl-3.col-lg-6.col-md-6.col-sm-12.d-flex
						.card.mb-4
							img.card-img-top(src='//placehold.it/330x330' alt='...')
							.card-body
								h4.card-title Card title
								h6.card-category Solo Project
								p.card-text
									| Some quick example text to build on the card title and make up the bulk of the card's content. <br /> asodjfoasjdofjs <br /> jeorwijerowejr
							.card-footer
								a.btn.btn-primary(href='#') Go somewhere

		section.four-column
			.container
				.row
					.col-lg-12
						h2 Four Column	
				.row.mb-4
					.col-xl-3.col-lg-6.col-md-6.col-sm-12
						.card.mb-4
							img.card-img-top(src='//placehold.it/330x330' alt='...')
							.card-body
								h4.card-title Card title
								h6.card-category Solo Project
								p.card-text
									| Some quick example text to build on the card title and make up the bulk of the card's content. <br /> here we type some more text
							.card-footer
								a.btn.btn-primary(href='#') Go somewhere
					.col-xl-3.col-lg-6.col-md-6.col-sm-12
						.card.mb-4
							img.card-img-top(src='//placehold.it/330x330' alt='...')
							.card-body
								h4.card-title Card title
								h6.card-category Solo Project
								p.card-text
									| Some quick example text to build on the card title and make up the bulk of the card's content.
							.card-footer
								a.btn.btn-primary(href='#') Go somewhere
					.col-xl-3.col-lg-6.col-md-6.col-sm-12
						.card.mb-4
							img.card-img-top(src='//placehold.it/330x330' alt='...')
							.card-body
								h4.card-title Card title
								h6.card-category Solo Project
								p.card-text
									| Some quick example text to build on the card title and make up the bulk of the card's content.
							.card-footer
								a.btn.btn-primary(href='#') Go somewhere
					.col-xl-3.col-lg-6.col-md-6.col-sm-12
						.card.mb-4
							img.card-img-top(src='//placehold.it/330x330' alt='...')
							.card-body
								h4.card-title Card title
								h6.card-category Solo Project
								p.card-text
									| Some quick example text to build on the card title and make up the bulk of the card's content. <br /> asodjfoasjdofjs <br /> jeorwijerowejr
							.card-footer
								a.btn.btn-primary(href='#') Go somewhere

		section.three-column-with-fluid-img-overlays
			.container-fluid
				.row
					.col-lg-12
						h2 Three Column , with fluid and img overlay
				.row.mb-4
					.col-lg-4.col-md-6.col-sm-12
						.card.mb-4
							img.card-img(src='//placehold.it/330x330' alt='...')
							.card-body.card-img-overlay.card-img-dark-overlay
								h4.card-title Card title
								h6.card-category Solo Project
								p.card-text
									| Some quick example text to build on the card title and make up the bulk of the card's content.
								a.btn.btn-primary(href='#') Go somewhere
					.col-lg-4.col-md-6.col-sm-12
						.card.mb-4
							img.card-img(src='//placehold.it/330x330' alt='...')
							.card-body.card-img-overlay.card-img-dark-overlay.card-content-center
								h4.card-title Card title
								h6.card-category Solo Project
								p.card-text
									| Some quick example text to build on the card title and make up the bulk of the card's content.<br /> this is using <strong>.card-content-center</strong> for center
								a.btn.btn-primary(href='#') Go somewhere
					.col-lg-4.col-md-6.col-sm-12
						.card.mb-4
							img.card-img(src='//placehold.it/330x330' alt='...')
							.card-body.card-img-overlay.card-img-dark-overlay.card-content-bottom
								h4.card-title Card title
								h6.card-category Solo Project
								p.card-text
									| Some quick example text to build on the card title and make up the bulk of the card's content. <br /> and this one is using <strong>.card-content-bottom</strong> to make it to the bottom
								a.btn.btn-primary(href='#') Go somewhere

		section.five-column-with-equal-height
			.container
				.row
					.col-lg-12
						h2 Five Column with equal height
				.row.mb-4
					.col-md.d-flex
						.card.mb-4
							img.card-img-top(src='//placehold.it/330x330' alt='...')
							.card-body
								h4.card-title Card title
								h6.card-category Solo Project
								p.card-text
									| Some quick example text to build on the card title and make up the bulk of the card's content. <br /> here we type some more text
							.card-footer
								a.btn.btn-primary(href='#') Go somewhere
					.col-md.d-flex
						.card.mb-4
							img.card-img-top(src='//placehold.it/330x330' alt='...')
							.card-body
								h4.card-title Card title
								h6.card-category Solo Project
								p.card-text
									| Some quick example text to build on the card title and make up the bulk of the card's content.
							.card-footer
								a.btn.btn-primary(href='#') Go somewhere
					.col-md.d-flex
						.card.mb-4
							img.card-img-top(src='//placehold.it/330x330' alt='...')
							.card-body
								h4.card-title Card title
								h6.card-category Solo Project
								p.card-text
									| Some quick example text to build on the card title and make up the bulk of the card's content.
							.card-footer
								a.btn.btn-primary(href='#') Go somewhere
					.col-md.d-flex
						.card.mb-4
							img.card-img-top(src='//placehold.it/330x330' alt='...')
							.card-body
								h4.card-title Card title
								h6.card-category Solo Project
								p.card-text
									| Some quick example text to build on the card title and make up the bulk of the card's content. <br /> asodjfoasjdofjs <br /> jeorwijerowejr
							.card-footer
								a.btn.btn-primary(href='#') Go somewhere
					.col-md.d-flex
						.card.mb-4
							img.card-img-top(src='//placehold.it/330x330' alt='...')
							.card-body
								h4.card-title Card title
								h6.card-category Solo Project
								p.card-text
									| Some quick example text to build on the card title and make up the bulk of the card's content. <br /> asodjfoasjdofjs <br /> jeorwijerowejr
							.card-footer
								a.btn.btn-primary(href='#') Go somewhere

		section.2-by-2-column-full-width
			.container-fluid.p-0
				.row
					.col-lg-12
						h2 2 by 2 column with full width			
			.container-fluid.p-0
				.row.no-gutters.two-by-two-col-fw-bg-color-1
					.col-lg-6.order-lg-2.section-2x2-col-fw-img(style="background-image: url('//placehold.it/900x601');")
					.col-lg-6.order-lg-1.my-auto.section-2x2-col-fw-text
						h2 Lorem Ipsum Title
						p.mb-0 When you use a theme created by Start Bootstrap, you know that the theme will look great on any device, whether it's a p
				.row.no-gutters.two-by-two-col-fw-bg-color-1
					.col-lg-6.section-2x2-col-fw-img(style="background-image: url('//placehold.it/900x601');")
					.col-lg-6.my-auto.my-auto.section-2x2-col-fw-text
						h2 Lorem Ipsum Title
						p.mb-0 When you use a theme created by Start Bootstrap, you know that the theme will look great on any device, whether it's a p
					
		
		//- section.full-width-column
		
		
		//-
			// Section
			section#projects
			.container
				.row.no-gutters
				.col-md-4
					.project-items Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum
				.col-md-4
					.project-items Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum
				.col-md-4
					.project-items Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum

			section.bg-image-full.bg-accent-color
			.innerSection(style="height: 200px") asdfasdfasdf
		
			//-
			section#assets
				.container-fluid.b1
				.skewZoom-items.b2
					a.skewZoom-item
					img.skewZoom-item__img(src="//placehold.it/300x300")
					a.skewZoom-item
					img.skewZoom-item__img(src="//placehold.it/300x300")          
			//-
				a.image-skew-zoom.h-100
				.img
					img.im(src="//placehold.it/300x300")
				.over-info title
				a.image-skew.h-100
				.img
					img.im(src="//placehold.it/300x300")
				.over-info title
				a.image-skew.h-100
				.img
					img.im(src="//placehold.it/300x300")
				.over-info title
		//-
			section#archive.page-section
			.container
				.row
				.col-lg-12
					h2 Archives
			.container
				.archive-items
				.archive-item
					.archive-header
					a.archive-thumbnail(href='https://magazine.artstation.com/2018/11/michael-morris/')
						img.attachment-small-archive-item.size-small-archive-item.wp-post-image(width='720' height='360' src='https://magazine.artstation.com/wp-content/uploads/2018/11/Screen-Shot-2018-11-23-at-3.12.01-PM-720x360.png' alt='' loading='lazy')
						.overlay
						.btn.btn-primary View
					.archive-panel
					.archive-panel__category
						ul.post-categories
						li
							a(href='https://magazine.artstation.com/category/inspiration/' title='Inspiration') Inspiration
					.archive-panel__title
						h4
						a.title(href='https://magazine.artstation.com/2018/11/michael-morris/') Featured Pro Portfolio: Michael Morris
					.archive-panel__footer
						| By 
						a(href='https://magazine.artstation.com/author/sierramon/' title='Posts by Sierra Mon' rel='author') Sierra Mon
						|  - November 23, 2018
				.archive-item
					.archive-header
					a.archive-thumbnail(href='https://magazine.artstation.com/2018/03/ryan-meinerding/')
						img.attachment-small-archive-item.size-small-archive-item.wp-post-image(width='720' height='360' src='https://magazine.artstation.com/wp-content/uploads/2018/03/ryan-meinerding-31-preview-720x360.jpg' alt='' loading='lazy' srcset='https://magazine.artstation.com/wp-content/uploads/2018/03/ryan-meinerding-31-preview-720x360.jpg 720w, https://magazine.artstation.com/wp-content/uploads/2018/03/ryan-meinerding-31-preview-300x151.jpg 300w' sizes='(max-width: 720px) 100vw, 720px')
						.overlay
						.btn.btn-primary View
					.archive-panel
					.archive-panel__category
						ul.post-categories
						li
							a(href='https://magazine.artstation.com/category/career/education/' title='Education') Education
						li
							a(href='https://magazine.artstation.com/category/inspiration/' title='Inspiration') Inspiration
					.archive-panel__title
						h4
						a.title(href='https://magazine.artstation.com/2018/03/ryan-meinerding/') ArtStation Masterclass Instructor Spotlight: Ryan Meinerding
					.archive-panel__footer
						| By 
						a(href='https://magazine.artstation.com/author/sierramon/' title='Posts by Sierra Mon' rel='author') Sierra Mon
						|  - March 22, 2018
				.archive-item
					.archive-header
					a.archive-thumbnail(href='https://magazine.artstation.com/2017/09/imagine-fx-supplement/')
						img.attachment-small-archive-item.size-small-archive-item.wp-post-image(width='718' height='360' src='https://magazine.artstation.com/wp-content/uploads/2017/09/Screen-Shot-2017-09-21-at-11.59.49-AM-e1506010083614-718x360.png' alt='' loading='lazy')
						.overlay
						.btn.btn-primary View
					.archive-panel
					.archive-panel__category
						ul.post-categories
						li
							a(href='https://magazine.artstation.com/category/art-skills/' title='Art Skills') Art Skills
						li
							a(href='https://magazine.artstation.com/category/career/guides/' title='Guides') Guides
					.archive-panel__title
						h4
						a.title(href='https://magazine.artstation.com/2017/09/imagine-fx-supplement/') Download a Free Special Supplement with Imagine FX
					.archive-panel__footer
						| By 
						a(href='https://magazine.artstation.com/author/sierramon/' title='Posts by Sierra Mon' rel='author') Sierra Mon
						|  - September 21, 2017
		//-
			section
			.container
				.row
				.col-lg-4
					img(src="//placehold.it/600x1100")
		//-
			section
			.container-fluid.p-0
				.row.no-gutters
				.col-lg-4.col-md-6.col-sm-12
					.box
					h3 Box title
					img.center-block(src="//placehold.it/150x180")
				.col-lg-4.col-md-6.col-sm-12
					.box
					h3 Box title
					img.center-block(src="//placehold.it/150x180")
					p this is text content
				.col-lg-4.col-md-6.col-sm-12
					.box
					h3 Box title
					img.center-block(src="//placehold.it/150x180")
				.col-lg-4.col-md-6.col-sm-12
					.portfolio-item
					a.portfolio-link(data-toggle='modal', href='#portfolioModal1')
						.portfolio-hover
							.portfolio-hover-content
								i.fas.fa-plus.fa-3x
						img.img-fluid(src='assets/img/portfolio/04-thumbnail.jpg', alt='')
					.portfolio-caption
						.portfolio-caption-heading Lines
						.portfolio-caption-subheading.text-muted Branding
		//-
			section#projects
				.container-fluid.p-0
					.row.no-gutters
						.col-lg-6.full-cover-bg-img(style="background-image:url('//placehold.it/900x600')")
						.col-lg-6.my-auto.showcase-text 
							h2 Another showcase title
							p Lorem Ipsum
					.row.no-gutters
						.col-lg-6.order-md-2.order-lg-1.my-auto.showcase-text 
							h2 Another showcase title
							p Lorem Ipsum       
						.col-lg-6.order-md-1.order-lg-2.full-cover-bg-img(style="background-image:url('//placehold.it/900x600')")
			section#works
				.container-fluid.p-0
					.row.no-gutters
						.col-lg-6.col-md-6.col-sm-12
							.box
								h3 Box title
								img(src="//placehold.it/355x200")
						.col-lg-6.col-md-6.col-sm-12
							.box
								.box__body
									img.center-block(src="//placehold.it/355x200")
								.box--overlay
								.box__body--caption
									h3 Box title
									p this is text content
						.col-lg-6.col-md-6.col-sm-12
							.box
								h3 Box title
								img.center-block(src="//placehold.it/355x200")
						.col-lg-6.col-md-6.col-sm-12
							.box
								h3 Box title
								img.center-block(src="//placehold.it/355x200")  
			section#about
				.container
					.row
						.col-lg-4.col-md-6.col-sm-12.my-3
							.box
								h3 Box title
								img.center-block(src="//placehold.it/355x200")
						.col-lg-4.col-md-6.col-sm-12.my-3
							.box
								h3 Box title
								img.center-block(src="//placehold.it/355x200")
								p this is text content
						.col-lg-4.col-md-6.col-sm-12.my-3
							.box
								h3 Box title
								img.center-block(src="//placehold.it/355x200") 
			section#resume
				.container-fluid
					.row.fb-wrap
						.col-lg-4.col-md-6.col-sm-12
							.box
								h3 xBox title
								img.center-block(src="//placehold.it/355x200")
						.col-lg-4.col-md-6.col-sm-12
							.box
								h3 Box title
								img.center-block(src="//placehold.it/355x200")
								p this is text content
						.col-lg-4.col-md-6.col-sm-12
							.box
								h3 Box title
								img.center-block(src="//placehold.it/355x200")
		//-
			// multi-sections : /w/full/1/c/5/361173.jpg
			section.page-section.bg-image-full.bg-color-after-content(style="background-image: url('https://wallpaperset.com/w/full/c/2/8/361167.jpg')")
				.container
				.row.d-flex
					.col-md-12
					.box
						h2 Unlock your digital potential.
						p.paddingBottom45
						| Craft this web design into your own by replacing images and styles with that consistent with your goals.


			// TEST
			section.paddingSection100.work-tiles.workTiles#about
				.container
				.row
					.col-md-12
					h2 Unlock your digital potential.
					p.paddingBottom45
						| Craft this web design into your own by replacing images and styles with that consistent with your goals.
				ul.row.list-none-style
					+insertPortfolioItem("400x400","  Title","another text")
					+insertPortfolioItem("400x400"," Portfolio Item Title","another text")
					+insertPortfolioItem("400x400"," Portfolio Item Title","another text")
					+insertPortfolioItem("400x400"," Portfolio Item Title","another text")
					+insertPortfolioItem("400x400"," Portfolio Item Title","another text")
					+insertPortfolioItem("400x400"," Portfolio Item Title","another text")
					+insertPortfolioItem("400x400"," Portfolio Item Title","another text")
					+insertPortfolioItem("400x400"," Portfolio Item Title","another text")
					+insertPortfolioItem("400x400"," Portfolio Item Title","another text")
					+insertPortfolioItem("400x400"," Portfolio Item Title","another text")
					+insertPortfolioItem("400x400"," Portfolio Item Title","another text")
					+insertPortfolioItem("400x400"," Portfolio Item Title","another text")
				.text-center.paddingTop40
					a.btn.btn-home.invert-btn(href='#') View Portfolio

		//- Footer
		footer#contact.footer
			.container
				.row.align-items-center
					.col-lg-4.text-lg-left
						| Copyright © Your Website 2021
					.col-lg-4.my-3.my-lg-0
						a.btn.btn-dark.btn-social.mx-2(href='#!')
							i.fab.fa-twitter
						a.btn.btn-dark.btn-social.mx-2(href='#!')
							i.fab.fa-facebook-f
						a.btn.btn-dark.btn-social.mx-2(href='#!')
							i.fab.fa-linkedin-in
					.col-lg-4.text-lg-right
						a.mr-3(href='#!') Privacy Policy
						a(href='#!') Terms of Use

		#portfolioModal1.portfolio-modal.modal.fade(tabindex='-1' role='dialog' aria-hidden='true')
			.modal-dialog.modal-dialog-centered.modal-xs
				.modal-content
					//.close-modal(data-dismiss='modal')
					//	i.fa.fa-2.circle
					.container
						.row.justify-content-center
							.col-lg-12
								.modal-body
									// Project Details Go Here
									h2.modal--title.text-uppercase Project Name
									p.item-intro.text-muted Lorem ipsum dolor sit amet consectetur.
									img.img-fluid.d-block.mx-auto(src='//placehold.it/300x300' alt='')
									p
									| Use this area to describe your project. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est blanditiis dolorem culpa incidunt minus dignissimos deserunt repellat aperiam quasi sunt officia expedita beatae cupiditate, maiores repudiandae, nostrum, reiciendis facere nemo!
									ul.list-inline
										li Date: January 2020
										li Client: Threads
										li Category: Illustration
									button.btn.btn-primary(data-dismiss='modal' type='button')
										i.fas.fa-times.mr-1
										|  Close Project

		a.js-scroll-trigger.back-to-top.on(href='#page-top', style="display: inline")
			span.edgt-icon-stack
				i.fas.fa-arrow-up


